In [1]:
s = "company"

In [2]:
type(s)

str

In [3]:
l = [1, 2, 3, "jerry", 365.25, True]

In [25]:
type(l)

list

In [4]:
l[0]

1

In [7]:
l[1]

2

In [6]:
l[2]

3

In [8]:
l[3]

'jerry'

In [9]:
l[4]

365.25

In [10]:
l[5]

True

In [11]:
l[6]

IndexError: list index out of range

In [12]:
l[-1]

True

In [13]:
l[-2]

365.25

In [14]:
l[-3]

'jerry'

In [15]:
l[-4]

3

In [16]:
l[-5]

2

In [18]:
l[-6]

1

In [20]:
l[-7]

IndexError: list index out of range

In [21]:
l[0] = 100

In [22]:
l

[100, 2, 3, 'jerry', 365.25, True]

In [23]:
l[3] = "berry"

In [24]:
s

'company'

In [26]:
s[0]

'c'

In [27]:
s[1]

'o'

In [28]:
s[2]

'm'

In [29]:
s[0] = "b"

TypeError: 'str' object does not support item assignment