#### Assignment Solutions

In [1]:
# variable creation
str1 = "Taj Mahal"
list1 = [1, 2, 3, True, "jerry", 365.25]
float1 = 3.14
tuple1 = (1, 2, 3, True, "jerry", 365.25)

In [2]:
# data type identification
var1 = '' # str
var2 = '[DS, ML, Python]' # str
var3 = ['DS', 'ML', 'Python'] # list
var4 = 1. # float

In [3]:
# use of operators
a, b = 32, 10
c = a / b # precise division
d = a % b # modulus
e = a // b # floor division
f = a ** b # exponentiation

print(c, d, e, f, sep = '\n' )

3.2
2
3
1125899906842624

In [4]:
# list of length 10
list1 = [128, 365.25, True, "jerry", 5+5j, [1,2,3,4], (11, 22, 33, 44), {111, 222, 333, 444}, {'name':'John Snow', 'address':'Winterfell'}, range(10)]

# listing all items and data type of each item
for i in list1:
    print(i, type(i), sep = '\t')

128	<class 'int'>
365.25	<class 'float'>
True	<class 'bool'>
jerry	<class 'str'>
(5+5j)	<class 'complex'>
[1, 2, 3, 4]	<class 'list'>
(11, 22, 33, 44)	<class 'tuple'>
{444, 333, 222, 111}	<class 'set'>
{'name': 'John Snow', 'address': 'Winterfell'}	<class 'dict'>
range(0, 10)	<class 'range'>

In [5]:
# variables 
A = int(input("Enter A: "))
B = int(input("Enter B: "))

print(f"A = {A}\nB = {B}")
i = 0

while (A >= B):
    i += 1
    A = A - B

if A == 0:
    print(f"A divisible by B {i} times")
else:
    print("A is not divisible by B")

A = 1024
B = 8
A divisible by B 128 times

In [6]:
# use random library to generate data
import random

l = []
for i in range(25):
    l.append(random.randint(100,1000))

for i in l:
    if i % 3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

855 is divisible by 3
775 is not divisible by 3
334 is not divisible by 3
503 is not divisible by 3
581 is not divisible by 3
139 is not divisible by 3
471 is divisible by 3
330 is divisible by 3
682 is not divisible by 3
686 is not divisible by 3
235 is not divisible by 3
544 is not divisible by 3
472 is not divisible by 3
565 is not divisible by 3
483 is divisible by 3
505 is not divisible by 3
556 is not divisible by 3
652 is not divisible by 3
601 is not divisible by 3
493 is not divisible by 3
330 is divisible by 3
852 is divisible by 3
281 is not divisible by 3
555 is divisible by 3
478 is not divisible by 3

In [7]:
# difference between mutable and immutable data types

str1 = "jerry"
list1 = ['j', 'e', 'r', 'r', 'y']

# str1[0] = 'b' gives error because str object is immutable

list1[0] = 'b'  # is a valid operation as list object is mutable