In [1]:
print("Good Morning!")

Good Morning!

In [2]:
l = [1, 3, 5, 7]

In [3]:
type(l)

list

In [4]:
def test():

SyntaxError: incomplete input (3861551224.py, line 1)

In [5]:
def test():
    pass

In [18]:
type(test())

NoneType

In [6]:
print(test())

None

In [7]:
def test1():
    print("How are you?")

In [17]:
type(test1())

How are you?

NoneType

In [8]:
test1()

How are you?

In [9]:
"Hello! " + test1()

How are you?

TypeError: can only concatenate str (not "NoneType") to str

In [10]:
def test2():
    return "How are you?"

In [16]:
type(test2())

str

In [11]:
"Hello! " + test2()

'Hello! How are you?'

In [12]:
def test3():
    return "jerry", 22, 10.11, True

In [15]:
type(test3())

tuple

In [13]:
a, b, c, d = test3()

In [14]:
print(a, b, c, d, sep = '\n')

jerry
22
10.11
True

In [19]:
def test4():
    a = 22/7
    return a

In [20]:
test4()

3.142857142857143

In [21]:
def test5(a, b, c):
    d = a + b / c
    return d

In [22]:
test5(12, 3, 4)

12.75

In [23]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [24]:
def test6(a, b):
    return a + b

In [25]:
test6(11, 11)

22

In [26]:
type(test6())

TypeError: test6() missing 2 required positional arguments: 'a' and 'b'

In [27]:
type(test6(11, 22))

int

In [28]:
test6("Home", "land")

'Homeland'

In [29]:
type(test6("Home", "land"))

str

In [30]:
l1 = [1, 2, 3, 4, 5, "True", True, 23.29, 11.10, 100, "joe"]

In [32]:
num_list = []
for i in l1:
    if type(i) == int or type(i) == float:
        num_list.append(i)
print(num_list)

[1, 2, 3, 4, 5, 23.29, 11.1, 100]

In [33]:
def extract_num(l):
    num_list = []
    for i in l:
        if type(i) == int or type(i) == float:
            num_list.append(i)
    return num_list

In [34]:
extract_num(l1)

[1, 2, 3, 4, 5, 23.29, 11.1, 100]

In [36]:
l2 = [11, "syntax", 12.00, 13, [111, 222, 333, 44.44, 55], True, "hi"]

In [41]:
def extract_num_mod(l):
    '''This function extracts numeric data from a list.'''
    num_list = []
    for i in l:
        if type(i) == int or type(i) == float:
            num_list.append(i)
        elif type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    num_list.append(j)
    return num_list

In [39]:
extract_num_mod(l2)

[11, 12.0, 13, 111, 222, 333, 44.44, 55]

In [42]:
def test7(*args):
    return args

In [43]:
type(test7())

tuple

In [45]:
test7(1024, 2048, 3072)

(1024, 2048, 3072)

In [44]:
test7(12, 11, True, "hello", "wow")

(12, 11, True, 'hello', 'wow')

In [46]:
def test8(*args, a):
    return args, a

In [49]:
test8()

TypeError: test8() missing 1 required keyword-only argument: 'a'

In [48]:
test8(a = 11)

((), 11)

In [50]:
test8(1, 2, 3, 4, a = 11)

((1, 2, 3, 4), 11)

In [51]:
def test9(a, b, c = 100, d = 100):
    return a + b + c + d

In [52]:
test9(1024, 1024)

2248

In [54]:
test9(1024, 1024, c = 1024, d = 1024)

4096

In [55]:
def test10(**kwargs):
    return kwargs

In [56]:
type(test10())

dict

In [57]:
test10(a = [1, 2, 3, 4], b = "Sri Darsan", c = 1024, d = True)

{'a': [1, 2, 3, 4], 'b': 'Sri Darsan', 'c': 1024, 'd': True}