In [1]:
l = [1, 2, 3, 4, "sri", True, 365.25, 5 + 5j]

In [2]:
type(l)

list

In [3]:
l[0]

1

In [4]:
l[4]

'sri'

In [5]:
l[5]

True

In [6]:
l[::-1]

[(5+5j), 365.25, True, 'sri', 4, 3, 2, 1]

In [7]:
l[::2]

[1, 3, 'sri', 365.25]

In [8]:
l[-1]

(5+5j)

In [9]:
l[-2]

365.25

In [10]:
l[9]

IndexError: list index out of range

In [11]:
s = "company"

In [12]:
l + s

TypeError: can only concatenate list (not "str") to list

In [13]:
list(s) + l

['c', 'o', 'm', 'p', 'a', 'n', 'y', 1, 2, 3, 4, 'sri', True, 365.25, (5+5j)]

In [14]:
l[4][0:2]

'sr'

In [15]:
str(l[5])[0:2]

'Tr'

In [16]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [17]:
l1 = [1, 3, 5]

In [18]:
l + l1

[1, 2, 3, 4, 'sri', True, 365.25, (5+5j), 1, 3, 5]

In [19]:
l1 * 3

[1, 3, 5, 1, 3, 5, 1, 3, 5]

In [20]:
len(l1)

3

In [21]:
len(l)

8

In [22]:
l.append(5)

In [23]:
l

[1, 2, 3, 4, 'sri', True, 365.25, (5+5j), 5]

In [24]:
l.append(s)

In [25]:
l

[1, 2, 3, 4, 'sri', True, 365.25, (5+5j), 5, 'company']

In [26]:
l1.append([22, 32, 42])

In [27]:
l1

[1, 3, 5, [22, 32, 42]]

In [28]:
l1[-1][-1]

42

In [29]:
l1.extend(s)

In [30]:
l1

[1, 3, 5, [22, 32, 42], 'c', 'o', 'm', 'p', 'a', 'n', 'y']

In [31]:
l1.extend(5)

TypeError: 'int' object is not iterable

In [32]:
l2 = [11, 111, 1111, 11111]

In [33]:
l2.insert(1, "sri")

In [34]:
l2

[11, 'sri', 111, 1111, 11111]

In [35]:
l2.insert(0, "joe")

In [36]:
l2

['joe', 11, 'sri', 111, 1111, 11111]

In [37]:
l3 = l2.insert(-1, "cornell")

In [38]:
l2

['joe', 11, 'sri', 111, 1111, 'cornell', 11111]

In [39]:
l3

In [40]:
l2.pop()

11111

In [41]:
l2.pop(0)

'joe'

In [42]:
l2

[11, 'sri', 111, 1111, 'cornell']

In [43]:
l2.pop(1)

'sri'

In [44]:
l2

[11, 111, 1111, 'cornell']

In [45]:
l2.pop(-1)

'cornell'

In [46]:
l2

[11, 111, 1111]

In [47]:
l4 = [1, 2, 1, 3, 1, 4]

In [48]:
l4.remove(1)

In [49]:
l4

[2, 1, 3, 1, 4]

In [50]:
l4.remove(1)

In [51]:
l4

[2, 3, 1, 4]

In [52]:
l4.reverse()

In [53]:
l4

[4, 1, 3, 2]

In [54]:
l4.sort()

In [55]:
l4

[1, 2, 3, 4]

In [56]:
l1

[1, 3, 5, [22, 32, 42], 'c', 'o', 'm', 'p', 'a', 'n', 'y']

In [57]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [58]:
l4.sort(reverse=True)

In [59]:
l4

[4, 3, 2, 1]

In [60]:
l4.index(3)

1

In [61]:
l5 = [1, 2, 3, 4, 4, 33, 1, 2]

In [62]:
l5.count(2)

2

In [63]:
l5[1] = "111"

In [64]:
l5

[1, '111', 3, 4, 4, 33, 1, 2]

In [65]:
s = "jerry"

In [66]:
s[0] = 'b'

TypeError: 'str' object does not support item assignment

In [67]:
s.replace('j', 'b')

'berry'

In [68]:
s

'jerry'

In [69]:
s = 'berry'

In [70]:
s

'berry'

In [71]:
tup1 = (1, 2, 3, 4, "jerry", False, [1, 2, 4])

In [72]:
type(tup1)

tuple

In [73]:
tup1[0]

1

In [74]:
tup1[1]

2

In [75]:
tup1[2]

3

In [76]:
tup1[3]

4

In [77]:
tup1[4]

'jerry'

In [78]:
tup1[0] = 111

TypeError: 'tuple' object does not support item assignment

In [79]:
tup1.count(50)

0

In [80]:
tup1.index(4)

3

In [81]:
tup1.index(False)

5

In [82]:
d = {}

In [83]:
type(d)

dict

In [84]:
set1 = {1, 2, 3, 4, 5}

In [85]:
type(set1)

set

In [86]:
set1.add(2)

In [87]:
set1

{1, 2, 3, 4, 5}

In [88]:
set2 = {1, 33, 1, 53, 2, 12, 1, 3, 2, 100, 4}

In [89]:
set2

{1, 2, 3, 4, 12, 33, 53, 100}

In [90]:
set1.add("jerry")

In [91]:
set1

{1, 2, 3, 4, 5, 'jerry'}

In [92]:
set1.add([1, 2, 3])

TypeError: unhashable type: 'list'

In [93]:
set1[0]

TypeError: 'set' object is not subscriptable

In [94]:
set1[::]

TypeError: 'set' object is not subscriptable

In [95]:
set1

{1, 2, 3, 4, 5, 'jerry'}

In [96]:
set1.remove(1)

In [97]:
set1

{2, 3, 4, 5, 'jerry'}