#### Non-Primitive Data Types Continue...

In [1]:
d = {}

In [2]:
type(d)

dict

In [3]:
d = {'name':'Sri Darsan Sah', 'course':'Data Science', 'mobile_no':1234567890, 'dob':'17/03/2003'}

In [5]:
d["name"]

'Sri Darsan Sah'

In [6]:
d["course"]

'Data Science'

In [7]:
d["dob"]

'17/03/2003'

In [8]:
d["mobile_no"]

1234567890

In [9]:
d1 = {1: 111, 2: 222, 3:333, 4:444}

In [10]:
d1

{1: 111, 2: 222, 3: 333, 4: 444}

In [11]:
d2 = {1:100, True:200}

In [12]:
d2

{1: 200}

In [13]:
d

{'name': 'Sri Darsan Sah',
 'course': 'Data Science',
 'mobile_no': 1234567890,
 'dob': '17/03/2003'}

In [14]:
d['email'] = "sri@gmail.com"

In [15]:
d

{'name': 'Sri Darsan Sah',
 'course': 'Data Science',
 'mobile_no': 1234567890,
 'dob': '17/03/2003',
 'email': 'sri@gmail.com'}

In [16]:
d3 = {'roll':[1,2,3,4], 'name':['Suraj', 'Pragati', 'Pragya', 'Tarun']}

In [17]:
d3

{'roll': [1, 2, 3, 4], 'name': ['Suraj', 'Pragati', 'Pragya', 'Tarun']}

In [18]:
d3['roll']

[1, 2, 3, 4]

In [19]:
d3['name']

['Suraj', 'Pragati', 'Pragya', 'Tarun']

In [20]:
d4 = {'1':(1, 2, 3, 4), '2':(11, 22, 33, 44)}

In [21]:
d4[1]

KeyError: 1

In [22]:
d4['1']

(1, 2, 3, 4)

In [23]:
d4['2']

(11, 22, 33, 44)

In [24]:
d5 = {'course_name':['Data Science', "Web Dev", "C/C++ with DSA"], 'mentor':{"Data Science":"Krish", "Web Dev": "Anurag", "C/C++ with DSA":"Hayder"}}

In [25]:
list(d5.keys())

['course_name', 'mentor']

In [27]:
list(d5.values())

[['Data Science', 'Web Dev', 'C/C++ with DSA'],
 {'Data Science': 'Krish', 'Web Dev': 'Anurag', 'C/C++ with DSA': 'Hayder'}]

In [28]:
list(d5.items())

[('course_name', ['Data Science', 'Web Dev', 'C/C++ with DSA']),
 ('mentor',
  {'Data Science': 'Krish', 'Web Dev': 'Anurag', 'C/C++ with DSA': 'Hayder'})]

In [30]:
d5.pop()

TypeError: pop expected at least 1 argument, got 0

In [31]:
d5

{'course_name': ['Data Science', 'Web Dev', 'C/C++ with DSA'],
 'mentor': {'Data Science': 'Krish',
  'Web Dev': 'Anurag',
  'C/C++ with DSA': 'Hayder'}}

In [32]:
d4

{'1': (1, 2, 3, 4), '2': (11, 22, 33, 44)}

In [33]:
d4.pop('1')

(1, 2, 3, 4)

In [34]:
d4

{'2': (11, 22, 33, 44)}