In [1]:
marks = 50
if marks >= 33:
    print("Passed")
else:
    print("Fail")

Passed

In [2]:
marks = 32
if marks >= 33:
    print("Passed")
else:
    print("Fail")

Fail

In [3]:
marks = 50
if marks >= 0 and marks <= 100:
    if marks >= 33:
        print("Passed")
    else:
        print("Fail")
else:
    print("Invalid Marks")

Passed

In [4]:
marks = 103
if marks >= 0 and marks <= 100:
    if marks >= 33:
        print("Passed")
    else:
        print("Fail")
else:
    print("Invalid Marks")

Invalid Marks

In [5]:
marks = int(input("Enter Marks: "))
if marks >= 0 and marks <= 100:
    if marks >= 33:
        print("Passed")
    else:
        print("Fail")
else:
    print("Invalid Marks")

Passed

In [11]:
marks = int(input("Enter Marks: "))
if marks >= 0 and marks <= 100:
    grade = "NA"
    if marks > 90:
        grade = 'A+'
    elif marks > 80:
        grade = 'A'
    elif marks > 70:
        grade = 'B'
    elif marks > 60:
        grade = 'C'
    elif marks > 50:
        grade = 'D'
    elif marks >= 33:
        grade = 'E'
    else:
        grade = 'F'
    print(f"Grade: {grade}")
else:
    print("Invalid Marks")

Grade: B

In [16]:
price = int(input("Enter price: "))
if price > 5000:
    print("I'll not purchase.")
    if price > 7000:
        print("Price is too high.")
    else:
        print("not interested.")
else:
    print("I'll purchase.")

I'll purchase.

In [17]:
l = [1, 2, 3, 4, True, [11, 22, 33], 5 + 5j, "Jerry"]

In [18]:
for i in l:
    print(i)

1
2
3
4
True
[11, 22, 33]
(5+5j)
Jerry

In [19]:
l1 = [x+1 for x in range(10)]

In [20]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
for i in range(len(l1)):
    l1[i] = l1[i] + 10

In [23]:
l1

[21, 22, 23, 24, 21, 16, 17, 18, 19, 20]

In [24]:
l2 = ["jerry", "joe", "tom", "shawn"]

In [25]:
l3 = []
for i in range(len(l2)):
    l3.append(l2[i].upper())

In [26]:
l3

['JERRY', 'JOE', 'TOM', 'SHAWN']

In [27]:
l

[1, 2, 3, 4, True, [11, 22, 33], (5+5j), 'Jerry']

In [28]:
l.insert(2, 34.36)

In [29]:
l.insert(4, 7652.100 )

In [31]:
l.insert(1,"James")

In [32]:
num_list = []
str_list = []
for i in l:
    if type(i) == int or type(i) == float:
        num_list.append(i)
    elif type(i) == str:
        str_list.append(i)
print(num_list, str_list, sep = '\n')

[1, 2, 34.36, 3, 7652.1, 4]
['James', 'Jerry']